.logo {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 25px;
    border: 1px solid #cfcbcc;
    height: 92px;
    margin-bottom: 12px;
    position: relative;
}

.logo__img {
    padding: 20px;
}

.block {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #cfcbcc;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
    background: #585e5e;
    background: linear-gradient(to bottom, #585e5e 0%,#2a2c27 100%);
}

.wrapper {
    width: 980px;
    border: 1px solid #cfcbcc;

    margin: 0 auto;
    min-height: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 0px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 28px 32px 10px;
}

.form__content {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 15px;

    position: relative;
}

.form__btn {
    padding-top: 20px;
}
.form__btn:hover {
    box-shadow:none;
}

.form__input {
    padding: 5px;
}

.form__button {
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px 15px;
    position: relative;
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    -webkit-font-smoothing: subpixel-antialiased !important;
}

.form__button:hover {
    box-shadow: 0 1px 4px rgb(10 10 10);
}

.form__input-error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    right: -200px;
}



